---
import { Icon } from "astro-icon/components";

const size = 56
---

<h2 class="section-header">Lenguajes y Herramientas</h2>

<section class="flex flex-wrap gap-4 justify-center mb-8">
    <Icon name="skill-icons:html" size={size}/>    
    <Icon name="skill-icons:css" size={size}/>    
    <Icon name="skill-icons:javascript" size={size}/>    
    <Icon name="skill-icons:typescript" size={size}/>    
    <Icon name="skill-icons:tailwindcss-dark" size={size}/>
    <Icon name="skill-icons:react-dark" size={size}/>    
    <Icon name="skill-icons:nextjs-dark" size={size}/>    
    <Icon name="skill-icons:astro" size={size}/>    
    <Icon name="skill-icons:postgresql-dark" size={size}/>
    <Icon name="skill-icons:git" size={size}/>    
    <Icon name="skill-icons:github-dark" size={size}/>
    <Icon name="skill-icons:npm-dark" size={size}/>
    <Icon name="skill-icons:bun-dark" size={size}/>
    <Icon name="skill-icons:netlify-dark" size={size}/>
</section>
