---
import { Icon } from 'astro-icon/components'

const {
  name,
  description,
  descriptionTwo,
  img,
  imgAlt,
  githubLink,
  liveDemoLink,
  extraIcons,
} = Astro.props
---

<article
  class="group flex rounded-lg min-h-[222px] max-h-[400px] bg-custom-card shadow transition-all duration-300 hover:shadow-lg hover:-translate-y-1"
>
  <aside class="w-[300px] min-h-[250px] overflow-hidden rounded-l-lg">
    <img src={img} alt={imgAlt} class="w-full h-full object-cover select-none"/>
  </aside>
  <main class="w-full p-4">
    <div class="w-full flex items-center justify-between">
      <h4 class="font-bold sm:text-xl">{name}</h4>
      <div class="flex gap-1 items-center">
        <a
          href={githubLink}
          title="Ir al repositorio"
          target="_blank"
          rel="noopener noreferrer"
          class="custom-link"><Icon name="tabler:brand-github" size={22} /></a
        >
        <a
          href={liveDemoLink}
          title="Visitar la demo"
          target="_blank"
          rel="noopener noreferrer"
          class="custom-link"><Icon name="tabler:link" size={22} /></a
        >
      </div>
    </div>
    <div class="flex gap-1 mt-2">
      {extraIcons?.map((icon: string) => <Icon name={icon} size={24} />)}
      <Icon name="skill-icons:html" size={24} />
      <Icon name="skill-icons:css" size={24} />
      <Icon name="skill-icons:tailwindcss-dark" size={24} />
      <Icon name="skill-icons:react-dark" size={24} />
      <Icon name="skill-icons:vite-dark" size={24} />
      <Icon name="skill-icons:bun-dark" size={24} />
    </div>
    <p class="text-xs sm:text-sm mt-2 text-secondary-custom-text">{description}</p>
    <p class="text-xs sm:text-sm mt-2 text-secondary-custom-text">{descriptionTwo}</p>
  </main>
</article>
