---
import ProjectCard from '@/components/ProjectCard.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
projects.sort((a, b) => (a.data.order || 0) - (b.data.order || 0))
---

<h2 class="section-header">Proyectos</h2>

<section
  aria-label="Mis proyectos personales"
  class="flex flex-col gap-4"
>
  {
    projects.map((project) => {
      const {
        name,
        description,
        descriptionTwo,
        img,
        imgAlt,
        githubLink,
        liveDemoLink,
        extraIcons,
      } = project.data

      return (
        <ProjectCard
          name={name}
          description={description}
          descriptionTwo={descriptionTwo}
          img={img}
          imgAlt={imgAlt}
          githubLink={githubLink}
          liveDemoLink={liveDemoLink}
          extraIcons={extraIcons}
        />
      )
    })
  }
</section>
