---
import { Icon } from 'astro-icon/components'

type Props = {
  imgPath: ImageMetadata
  imgAlt: string
  name: string
  githubLink: string
  liveDemoLink: string
  description: string
  extraIcons?: string[]
  class?: string
}

const { imgPath, imgAlt, name, githubLink, liveDemoLink, description, extraIcons, class: className } = Astro.props
---

<article
  class={`flex rounded-lg h-[200px] bg-custom-card shadow transition-transform duration-500 hover:scale-105 ${className || ''}`}
>
  <section class="w-[45%] h-full overflow-hidden rounded-l-lg">
    <img
      src={imgPath.src}
      alt={imgAlt}
      class="w-full h-full object-cover"
    />
  </section>
  <section class="w-full px-4 py-2">
    <div class="w-full flex items-center justify-between mb-2">
      <h4 class="font-bold sm:text-xl mb-1">{name}</h4>
      <div class="flex gap-1 items-center">
        <a href={githubLink} class="custom-link"><Icon name="tabler:brand-github" size={22} /></a>
        <a href={liveDemoLink} class="custom-link"><Icon name="tabler:link" size={22} /></a>
      </div>
    </div>
    <div class="flex gap-1">
      {extraIcons?.map((icon) => <Icon name={icon} size={26} />)}
      <Icon name="skill-icons:html" size={26} />
      <Icon name="skill-icons:css" size={26} />
      <Icon name="skill-icons:tailwindcss-dark" size={26} />
      <Icon name="skill-icons:react-dark" size={26} />
      <Icon name="skill-icons:vite-dark" size={26} />
      <Icon name="skill-icons:bun-dark" size={26} />
    </div>
    <p class="text-xs mt-2 text-secondary-custom-text">{description}</p>
  </section>
</article>
